@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tech';
  src: url('fonts/ShareTechMono-Regular.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {
  width: 100%;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  main {
    width: 80%;
    text-align: left;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
html {
  background-color: black;
  color: white;
  font-family: 'tech', monospace;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

button {
  border: solid thin;
  border-color: #e18583;
  border-radius: 5px;
  color: white;
  width: auto;
  padding: 0.5rem 1rem;
  position: static;
  margin-top: 1rem;
  background-color: transparent;
}

a {
  text-align: left;
  color: blue;
}

.radio {
  appearance: none;

  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 8px solid white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: black;
  color: white;
  padding: 1rem;
  overflow-y: auto;
}

.popup_button {
  border: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
