@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.modal {
  background: #000000;
  border-radius: 8px;
  padding: 20px;
  height: 25%;
  max-width: 500px;
  width: 90%;
  position: relative;
  /* box-shadow: 0 0 0 5em rgba(0, 0, 0, 1); */
}

.popup-overlay {
  background: rgba(255, 255, 255, 0.5);
}

.text-outline-red {
  -webkit-text-stroke: 1px #ac4444;
}

main {
  width: 100%;
  padding: 0 1rem;
  /* max-width: 1200px; */
  margin: 0 auto;
}

@media (min-width: 768px) {
  main {
    /* width: 80%; */
    text-align: left;
  }
}

/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"); */

@import url("./fonts.css");
html {
  background-color: black;
  color: white;
  font-family: "share", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

p {
  line-height: 1.25em;
}

button {
  display: block;
  border: 2px solid rgba(225, 133, 131, 1);
  font-family: "RubikMonoOne", sans-serif;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

a {
  text-align: left;
  color: rgba(49, 103, 180, 1);
}

.radio {
  appearance: none;

  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 8px solid white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: black;
  color: white;
  padding: 1rem;
  overflow-y: auto;
}

.popup_button {
  border: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

select {
  border: solid thin;
  border-color: white;
  border-radius: 2%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
